.switch {
  position: relative;
  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider {
      border-color: #9D71FD;
      background-color: #9D71FD;
    }

    &:checked + .slider:before {
      transform: translateX(7px);
      background-color: #ffffff;
    }
  }

  .slider {
    width: 22px;
    height: 14px;
    border: 2px solid #A39CB5;
    transition: .4s;
    box-sizing: border-box;

    &.round {
      border-radius: 34px;

      &::before {
        border-radius: 50%;
      }
    }

    &::before {
      position: absolute;
      content: "";
      height: 8px;
      width: 8px;
      left: 2px;
      bottom: 1px;
      background-color: #A39CB5;
      transition: .4s;
    }
  }
}
