/*
@font-face {
  font-family: 'TBCXLight';
  src: url('../fonts/tbc/TBCXLight.eot');
  src: url('../fonts/tbc/TBCXLight.eot') format('embedded-opentype'),
  url('../fonts/tbc/TBCXLight.woff2') format('woff2'),
  url('../fonts/tbc/TBCXLight.woff') format('woff'),
  url('../fonts/tbc/TBCXLight.ttf') format('truetype');
}

@font-face {
  font-family: 'TBCXRegular';
  src: url('../fonts/tbc/TBCXRegular.eot');
  src: url('../fonts/tbc/TBCXRegular.eot') format('embedded-opentype'),
  url('../fonts/tbc/TBCXRegular.woff2') format('woff2'),
  url('../fonts/tbc/TBCXRegular.woff') format('woff'),
  url('../fonts/tbc/TBCXRegular.ttf') format('truetype');
}
@font-face {
  font-family: 'TBCXMedium';
  src: url('../fonts/tbc/TBCXMedium.eot');
  src: url('../fonts/tbc/TBCXMedium.eot') format('embedded-opentype'),
  url('../fonts/tbc/TBCXMedium.woff2') format('woff2'),
  url('../fonts/tbc/TBCXMedium.woff') format('woff'),
  url('../fonts/tbc/TBCXMedium.ttf') format('truetype');
}
@font-face {
  font-family: 'TBCXBold';
  src: url('../fonts/tbc/TBCXBold.eot');
  src: url('../fonts/tbc/TBCXBold.eot') format('embedded-opentype'),
  url('../fonts/tbc/TBCXBold.woff2') format('woff2'),
  url('../fonts/tbc/TBCXBold.woff') format('woff'),
  url('../fonts/tbc/TBCXBold.ttf') format('truetype');
}
@font-face {
  font-family: 'TBCXBlack';
  src: url('../fonts/tbc/TBCXBlack.eot');
  src: url('../fonts/tbc/TBCXBlack.eot') format('embedded-opentype'),
  url('../fonts/tbc/TBCXBlack.woff2') format('woff2'),
  url('../fonts/tbc/TBCXBlack.woff') format('woff'),
  url('../fonts/tbc/TBCXBlack.ttf') format('truetype');
}

*/

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&family=Roboto:wght@400;700&display=swap');

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $name, $value in $font-size {
      .font-size#{$infix}-#{$name} {
        font-size: $value !important;
      }
    }
    @each $name, $value in $font-size {
      .line-height#{$infix}-#{$name} {
        line-height: $value + 10;
      }
    }
  }
}

// line-height
.line-height-normal {
  line-height: normal;
}
.font-base {
  font-family: $font-family-base;
  font-weight: 400;
}
.font-medium {
  font-family: $font-family-base;
  font-weight: 700;
}
.font-bold {
  font-family: $font-family-bold;
}